<p id="notice"><%= notice %></p>

<script>
$(document).ready(function() {
    // página cargada, inicializamos el calendario...
    $('#calendar').fullCalendar({
      
        dayClick: function() {
        alert('a day has been clicked!');

    }
    

    })
});
</script>

<div class="content">
  

<div id='calendar' ></div>
</div>
<br>

<%= link_to 'New Event', new_event_path %>
